/* ****************************Start general style************************************ */
:root{
    --color-light-blue:#0078ff;
    --dev-letter:9;
    --des-letter:8;
    --photo-letter:12;
    --frelanc-letter:9;
}

html{
    scroll-behavior: smooth;
}
.section-title h2{
    font-size: clamp(24px, 5vw, 50px);
    position: relative;
}
.section-title h2::after{
    content: "";
    position: absolute;
    width: 3rem;
    height: 0.2rem;
    background-color: var(--color-light-blue);
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section-title p {
    font-size: clamp(13px, 2.5vw, 18px);
  }
.icon{
    width: 120px;
    height: 120px;
    border: 10px solid var(--color-light-blue);
    margin: 0 auto;
}
.bg-black{
    background-color: black;
}
/* .chang-color{
    background-color: #ffffff;
    color: black;
} */
/* *******************************End general style********************************** */

/* *******************************Start nav section********************************** */
nav{
    z-index: 10;
}
nav .navbar-nav .nav-link{
    width: fit-content;
}
nav .dropdown-menu[data-bs-popper]{
    top:110%;
    left: .5rem;
    width: 13rem;
}
nav .inner-drop-down{
    list-style: none;
    border: 1px solid;
    width: 13rem;
    position: absolute;
    left: -13rem;
    bottom: -2.5rem;
    display: none;
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.secondray-drop-down:hover .inner-drop-down{
    display: block;
    transition: all 2s;
}

nav .dropdown-item:hover{
    color: red !important;
}
.nav-link::after{
	content: "";
    background-color: white;
    width: 0%;
    height: 5%;
    position: absolute;
    top: 2rem;
    left: 0.6rem;
    transition: .3s;
}
.nav-link:hover::after{
	width: 70%;
}
.navbar-nav li:has(.active) ::after{
	width: 60%;
}

@media (max-width: 991px) {
    nav .inner-drop-down {
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%;   
      border: none;
    }
  
    nav .secondray-drop-down > .dropdown-item::after {
      display: none;
    }
  }
  
/* *******************************End nav section********************************** */


/* *******************************Start home section******************************* */
.home{
    background-image:linear-gradient(rgba(0,0,0,.6) , rgba(0,0,0,.6)) , url("../img/hero-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    background-attachment: fixed;
    z-index: 2;
    max-height: 100vh;
}

.content h1{
    font-size: clamp(28px, 6vw, 50px);
}
.typing-animation::after{
    content: "";
    position: absolute;
    width: 0.3rem;
    height: 2.2rem;
    background-color: white;
    top: 7px;
    right: -0.3rem;
}
.typing-animation span{
    width: 0px;
    font-size: 30px;    
    color: white;
    display: inline-block;
    overflow: hidden;
}
.typing-animation span:nth-child(1){
    animation: developer 4s infinite steps(var(--dev-letter));
}
.typing-animation span:nth-child(2){
    animation: designer 4s infinite steps(var(--des-letter));
}


@keyframes developer {
    0% ,50%{
        width: 0px;
    }
    25%{
        width: calc(var(--dev-letter) * 20px);
    }
}

@keyframes designer {
    0%,50%,100%{
        width: 0px;
    }
    75%{
        width: calc(var(--des-letter) * 20px);
    }
}

/* *******************************End home section********************************** */

/* *******************************Start About section******************************** */
.about-me h2::after{
    content: "";
    position: absolute;
    width: 21%;
    height: 0.2rem;
    background-color: var(--color-light-blue);
    bottom: -6px;
    left: 0;
}
.about-me p.lead { 
    font-size: clamp(14px, 2vw, 18px);
 }
.about .progress{
    --bs-progress-height: .8rem;
    border-radius: 0%;
    --bs-progress-bg: #cde1f8;
    
}
/* **********************************End About section****************************** */

/* *******************************Start Services section**************************** */
#service .inner{
    border-radius: 17px;
    background: #ffffff;
    box-shadow:  40px 40px 100px #d9d9d9,
             -40px -40px 100px #ffffff;
}
#service .icon i{
    font-size: 42px;
}
#service .inner:hover .icon{
    background-color: var(--color-light-blue);
    border-color: #cde1f8;
    transition: all .5s ease;
}
#service .inner:hover .icon i{
    color: white;
    transition: all .5s ease;
}
#service h3 {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    font-size: clamp(16px, 2vw, 24px); /* يصغر ويكبر حسب حجم الشاشة */
  }
/* *******************************End Service section*********************** */
.counter{
    background-image:linear-gradient(rgba(0,120,255,.7) ,rgba(0,120,255,.7)) ,url(../img/counters-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}
#counter .inner .icon-counter{
    width: 80px;
    height: 80px;
    border: 10px solid #cde1f8;
    margin: 0 auto;
}
#counter .inner .icon-counter i{
    font-size: 25px;
}


/* ***********************************start portfolio********************** */
#portfolio .card .card-body .category-card{
    font-size: 12px;
    font-weight: 500;
}
#portfolio .card .card-body .category-card span{
    color: var(--color-light-blue);
}
.category-card span{
    color: var(--color-light-blue);
}
 .category-icon a i{
    font-size: 55px;
}
.img-card{
    overflow: hidden;
}
#portfolio .card:hover img{
    transform: scale(1.3);

}
.img-card img{
    transition: all 1s;

}

/* ********************************start slider************************************ */
.slider{
    background-image:linear-gradient(rgba(0,120,255,.7) ,rgba(0,120,255,.7)), url("../img/overlay-bg.jpg");
    background-position: center center;
    background-attachment: fixed;
}
#slider .carousel-indicators [data-bs-target]{
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

#slider .carousel-item p{
    max-width: 700px;
}
/* *******************************start blo***************************************** */
#blog .blog-testmonial a img{
    width: 15%;
}
#blog .card .card-body h5:hover{
    color: var(--color-light-blue);
    cursor: pointer;
    transition:  all 1s both;
}
#blog  .blog-testmonial  a span:hover{
    color: var(--color-light-blue);
}
.time-wrapper p {
    white-space: nowrap; 
}
/* ******************************start contact section******************************** */
.contact{
    background-image:linear-gradient(rgba(0,120,255,.7) ,rgba(0,120,255,.7)), url("../img/overlay-bg.jpg");
    background-position: center center;
    background-attachment: fixed;
    border-radius: 0px;
}
#contact .title-contact h2::after{
    content: "";
    position: absolute;
    width: 6.5rem;
    height: 0.2rem;
    background-color: var(--color-light-blue);
    bottom: -.9rem;
    left: 0;
}

#contact .contact-details span i{
    font-size: 18px;
    color: var(--color-light-blue);
}
.icon-contact{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid var(--color-light-blue);
}
#contact .icon-contact:hover {
    background-color: var(--color-light-blue);
    border-color: #cde1f8;
}
#contact .icon-contact  i{
    transition: color .7s ease-in-out;;
}
#contact .icon-contact:hover i{
    color: #ffffff;
}
#contact .icon-contact i{
    font-size: 23px;
}
#contact .btn-primary{
    --bs-btn-hover-bg: var(--color-light-blue);
}

#contact .btn-primary:hover{
    box-shadow: 0px 1px 0px 5px #cde1f8;
    opacity: .8;
} 
#contact .lead {
    font-size: 1rem; 
    line-height: 1.6;
}

/* ***********************************start footer********************************** */
/* .footer{
    background-color: #0062d3;
    box-shadow: 0px 22px 12px 39px var(--color-light-blue);
}
.scroll-top-button{
    background-color: var(--color-light-blue);
    width: 40px;
    height: 40px;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border-radius: 50%; 
}
.scroll-top-button i{
    color: white;
    font-size: 25px;
} */


.footer{
    background-color: #0062d3;    
    box-shadow: 0px 22px 12px 39px var(--color-light-blue);
    padding: 1rem 0;
}

.footer p{
    font-size: 1rem;
    line-height: 1.5;
}

@media (max-width: 768px){
    .footer p{
        font-size: 0.9rem;
    }
}

@media (max-width: 576px){
    .footer p{
        font-size: 0.8rem;
    }
}

.scroll-top-button{
    background-color: var(--color-light-blue);
    width: 40px;
    height: 40px;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border-radius: 20%;
    transition: all 0.3s ease-in-out;
}

.scroll-top-button i{
    color: white;
    font-size: 25px;
}

@media (max-width: 360px){
    .scroll-top-button{
        width: 35px;
        height: 35px;
    }
    .scroll-top-button i{
        font-size: 20px;
    }
}
